<header id="header">
    <div class="grid-x grid-padding-x align-middle">
        <div class="logo cell shrink text-left">
            {{#link-to 'index'}}
                <h1>Donna L. Nye</h1>
                <h3>Interior Design</h3>
            {{/link-to}}
        </div>

        <div class="contact-info cell auto">
            <i aria-hidden="true" class="fa fa-bars show-for-small-only float-right"></i>
            <ul class="menu align-center hide-for-small-only">
                <li>{{#link-to 'gallery'}}Gallery{{/link-to}}</li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
                <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
                {{!-- <li>
                    <a href="tel:1-570-629-2330">
                        <i aria-hidden="true" class="fa fa-phone hide"></i>
                        570-629-2330
                    </a>
                </li>
                <li>
                    <a href="mailto:info@dlninteriordesign.com">
                        <i aria-hidden="true" class="fa fa-envelope hide"></i>
                        info@dlninteriordesign.com
                    </a>
                </li> --}}
            </ul>
        </div>
    </div>
</header>
