<footer class="footer" id="footer">
    <section class="credits">
        <div class="grid-x grid-padding-x">
            <div class="copyright cell small-12 medium-6 text-center medium-text-left">&copy; 2017 DLN Interior Design, Inc. All Rights Reserved.</div>
            <div class="developer cell small-12 medium-6 text-center medium-text-right">Website Design by <!--<a href="http://www.dnyer.com" target="_blank" title="Dnyer.com">-->Dnyer<!--</a>--></div>
        </div>
    </section>
</footer>
