footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47px;
    color: white;
    z-index: 2;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include breakpoint(medium) {
    	font-size: 0.625rem;
    	padding: 1rem 0;
    }

    .grid-padding-x > .cell {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include breakpoint(medium) {
            padding-left: 3.125rem;
            padding-right: 3.125rem;
        }
    }
}
