<footer class="footer" id="footer">
    <section class="credits">
        <div class="row">
            <div class="copyright columns small-12 medium-8 text-center medium-text-left">Copyright &copy; 2017 DLN Interior Design, Inc. All Rights Reserved.</div>
            <div class="developer columns small-12 medium-4 text-center medium-text-right">Website Design by <a href="http://www.dnyer.com" target="_blank" title="Dnyer.com">Dnyer.com</a></div>
        </div>
    </section>
</footer>
