{{app-carousel}}

<div class="content text-center">
    <h2>NEW SITE COMING SOON!</h2>

    <div class="description">
        Thank you for visiting <strong>dlninteriordesign.com</strong>!<br>
        We are currently working on a new and improved website for your viewing pleasure.<br>
        In the meantime, feel free to contact us with any questions or quote requests using the email or phone number provided:
    </div>
</div>
